<div class="page-header">
  <h1>{{pokemon[0].nombre}}</h1>
  <a [routerLink]="['/pokemones']">&larr; Volver</a>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="card border-dark mb-3">
      <div class="card-body">
        <img class="image-responsive" src="../../../assets/img/{{pokemon[0].imagen}}">
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <h5 class="">Tipo: </h5>
    <p>{{pokemon[0].tipo}}</p>
    <h5>Tipo: </h5>
    <p>{{pokemon[0].bio}}</p>

  </div>
</div>